<h1>New Ingredient for the recipe : <%= @recipe.name %></h1>

<%= render 'form', recipe: @recipe, recipe_ingredient: @recipe_ingredient, ingredients: @ingredients %>

<%= link_to 'Back', recipes_path %>

